.navbar {
  background-color: white;
  font-size: 25px;
  font-family: monospace;
}

.media-object {
  height: 200px;
  width: 330px;
  margin-left: 40px;
}
.location-content {
  background-color: white;
  padding-top: 40px;
  padding-left: 20px;
    color: #A9A9A9;
}

.media-heading {
    color: 	#5F9EA0;
}

.title {
  background-image: url("pictures-Train section/traintopnew.jpg");
  background-repeat: repeat-x;
  background-size: 300px 200px;
  background-color: grey;
  padding: 50px;
  font-size: 90px;
  font-family: monospace;
  color:white;
}

.navbar li {
  padding-right:50px;
}
