

#coverpage {
  margin-top: 55px;
  background-image: url('cambridge-backs-1.jpg');
  /* height: 400px; */
  /*background-position: 100% 25%; */
  background-size: cover;

}

#Escape {
  padding-bottom: 30%;
}

.display-3 {
  color: white;
  font-size: 40pt;
  padding-bottom: 30px;
}


.navbar li {
  padding-right:50px;
}

.navbar a {
  font-size: 20pt;
  background-color: white;
  font-family: monospace;
}

.media-object {
  height: 200px;
  width: relative;
  margin-left: 40px;
}
.location-content {
  background-color: #E5E4E2;
  padding-top: 40px;
  padding-left: 20px
}
.title {
  background-image: url("biketop.jpg");
  background-color: grey;
}

#bike_title{
  color: white;
padding: 40px;
position: right;
font-size: 30px;
font-family: monospace;

}
