

.jumbotron {
  background-image: url('cambridge-backs-1.jpg');
  height: 300px;
  background-position: 100% 25%;
  background-size: cover;
}

.display-3 {
  color: white;
}

.navbar li {
  padding-right:50px;
}

.navbar a {
  font-size: 20pt;
  color: black;
}
